<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Food Classification</title>
</head>
<body>
    <h1>Classificação de Alimentos</h1>
    <form method="POST" enctype="multipart/form-data">
        <label>Envie as imagens:</label>
        <input type="file" name="file" multiple required>
        <button type="submit">Classificar</button>
    </form>
</body>
</html>
